BACKUP/
BACKUP/0/
MOS_raw/
LOGO/
BAM_raw/
ignore/
LCAPKG/LCA/
weidu.exe
LCAPKG/
SPL_raw
soundwork/*.WAV
ModContent/SPL_raw
LoveConquersAll_EET.zip
soundmodding/Audacity.lnk
soundmodding/
Setup-LCA.exe
LoveConquersAll_EET/User Guide.pdf
WeiDU.log
raw/