BACKUP/
BACKUP/0/
MOS_raw/
LOGO/
ignore/
LCAPKG/LCA/
weidu.exe
LCAPKG/
SPL_raw
soundwork/*.WAV
ModContent/SPL_raw
LoveConquersAll_EET.zip
soundmodding/Audacity.lnk
soundmodding/
Setup-LCA.exe
LoveConquersAll_EET/User Guide.pdf
WeiDU.log
LoveConquersAll_EE_BG1/
LoveConquersAll_EE_SoD/
LoveConquersAll_EE_BG2/
generated/